@import "../../../mixins.scss";
.heroBanner
{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 450px;
    background-color: var(--black);
    @include md {
        height: 700px;
    }
}